[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dados"]
	path = dados
	url = https://github.com/cienciadedatos/dados
[submodule "datos"]
	path = datos
	url = https://github.com/cienciadedatos/datos
