[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "dados"]
	path = dados
	url = https://github.com/cienciadedatos/dados
	shallow = true
	registered = true
[submodule "datos"]
	path = datos
	url = https://github.com/cienciadedatos/datos
	shallow = true
	registered = true
